<!-- QUIÉNES SOMOS -->
<section id="quienes-somos" class="seccion seccion-quienes animada">
    <div class="contenido quienes-grid">
      <div class="quienes-texto">
        <h2>Sobre Nosotros</h2>
        <p>
          Rokos Barber Club nace para revolucionar la experiencia de la barbería masculina. Nuestra misión es crear un entorno donde los hombres se sientan cómodos y relajados.
        </p>
        <p>
          Con más de 2 años de experiencia, perfeccionamos nuestros servicios con atención personalizada, ambiente relajante y alta calidad. Nuestro equipo de expertos se dedica a la excelencia y al detalle para ofrecer una experiencia única.
        </p>
        <p>
          Descubre por qué somos la mejor barbería de la zona.
        </p>
        <a class="btn-agendar" href="https://wa.me/56982512970" target="_blank">¡Reserva tu cita hoy mismo!</a>
      </div>
      <div class="quienes-imagen">
        <img src="assets/1.jpg" alt="Nuestro equipo Rokos" />
      </div>
    </div>
  </section>