.footer {
    background-color: #000; // mismo fondo que navbar
    color: #fff;
    padding: 2rem;
    text-align: center;
    font-size: 0.9rem;
  
    .footer-content a {
      color: #c1272d;
      text-decoration: none;
      margin: 0 0.5rem;
  
      &:hover {
        text-decoration: underline;
      }
    }
  }
  