<section id="contacto" class="contacto-section">
    <div class="contacto-grid">
      <div class="contacto-info">
        <h2>Contáctanos</h2>
        <p>Estamos disponibles para resolver tus dudas y agendar tu próxima cita.</p>
  
        <div class="contacto-datos">
          <p><i class="bi bi-telephone-fill"></i><strong>Teléfono Fijo:</strong> +56 43 264 2219</p>
          <p><i class="bi bi-phone-fill"></i><strong>Teléfono Celular:</strong> +56 9 8251 2970</p>
        </div>
  
        <a href="https://wa.me/56982512970" class="btn-contactar" target="_blank" rel="noopener noreferrer">
          Escríbenos por WhatsApp
        </a>
        <div class="redes-sociales">
            <a href="https://www.instagram.com/rokosbarberclub" target="_blank" class="icono-red">
              <i class="bi bi-instagram"></i>
            </a>
            <a href="https://www.facebook.com/Rokosbarber" target="_blank" class="icono-red">
              <i class="bi bi-facebook"></i>
            </a>
            <a href="https://www.tiktok.com/@rokosbarberclub" target="_blank" class="icono-red">
              <i class="bi bi-tiktok"></i>
            </a>
          </div>          
      </div>
    </div>
  </section>
  