
<!-- UBICACIÓN -->
<section id="ubicacion" class="seccion seccion-ubicacion animada">
    <div class="ubicacion-grid">
      <!-- Columna izquierda: texto -->
      <div class="info-texto">
        <h2>¿Dónde estamos?</h2>
        <p>Nos encontramos en Concón, a pasos del mar y con todo el estilo Rokos Barber Club.</p>
  
        <div class="datos-ubicacion">
          <p><strong>Dirección:</strong> Las Pelargonias 842, Concón, Valparaíso</p>
          <p><strong>Horario:</strong> Lunes a Sábado, 10:00 – 20:00 hrs</p>
        </div>
  
        <a
          href="https://www.google.com/maps/place/Las+Pelargonias+842,+Concón,+Valparaíso/"
          class="btn-direccion"
          target="_blank"
          rel="noopener noreferrer"
        >
          Cómo llegar
        </a>
      </div>
  
      <!-- Columna derecha: mapa -->
      <div class="mapa-contenedor">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3340.329602241745!2d-71.54625142374014!3d-32.94255717459902!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9689dd366527bdb9%3A0x22480b32b613ceb6!2sLas%20Pelargonias%20842%2C%20Conc%C3%B3n%2C%20Valpara%C3%ADso!5e0!3m2!1ses-419!2scl!4v1712264785023!5m2!1ses-419!2scl"
          loading="lazy"
          allowfullscreen
          referrerpolicy="no-referrer-when-downgrade">
        </iframe>
      </div>
    </div>
  </section>